@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "_responsive";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q {
  &:before, &:after {
    content: "";
    content: none;
  }
}

blockquote {
  &:before, &:after {
    content: "";
    content: none;
  }
}

a {
  img {
    border: none;
  }

  color: #474C5F;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

input {
  &[type="text"], &[type="button"], &[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
  }
}

html, body {
  position: relative;
  overflow-x: hidden;
  font: 400 12px/1em 'Inter', sans-serif;
  color: #474C5F;
  min-height: 100%;
  height: 100%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 400;
  font-size: 10px;
  color: #B2B2B2;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 400;
  font-size: 10px;
  color: #B2B2B2;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 400;
  font-size: 10px;
  color: #B2B2B2;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 400;
  font-size: 10px;
  color: #B2B2B2;
}

[type="number"] {
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  -moz-appearance: textfield;
}

input:not([type="submit"]) {
  font: 400 12px/1em 'Inter', sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: #6D00F3;
  padding: 13px 25px;
  background: #FFFFFF;
  box-shadow: inset 0px 1px 3px #F7F8FC;
  border-radius: 26.5px;
  border: 0;
  outline: 0;
}

.w100 {
  max-width: 100% !important;
  width: 100% !important;
}

.main-wrapper {
  position: relative;
}

.w100 {
  max-width: 100% !important;
  width: 100% !important;
}

.mr19 {
  margin-right: 19px;
}

.mr57 {
  margin-right: 57px;
}

.header-section {
  margin-bottom: 26px;
}

.header-section_top-area {
  font-size: 10px;
  padding: 17px 0;
}

.top_links a {
  font-weight: 400;
  line-height: 130%;
  color: #14161D;
  margin-right: 25px;

  &.activeTopNav {
    color: #6D00F3;
  }
}

.top_marketInfo_item {
  color: #B2B2B2;

  span {
    color: #FF0052;
    font-weight: 500;
  }
}

.dropdown-element {
  position: relative;

  a {
    display: block;
    color: #474C5F;
  }

  > a {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: -10px;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 7px;
      height: 3px;
      margin-right: 7px;
      background: url(../static/images/wallet/arrow.svg) center no-repeat;
      transition: all .2s ease-in-out;
    }
  }

  &:hover a:before {
    transform: rotate(180deg);
  }

  ul {
    width: 120px;
    top: 100%;
    left: -15%;
    right: -15%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 9;
    background: #fff;
    -webkit-box-shadow: 0px 10px 15px rgb(0 0 0 / 15%);
    box-shadow: 0px 10px 15px rgb(0 0 0 / 15%);

    a {
      display: block;
      padding: 10px 20px;
      word-break: break-all;
    }
  }

  &:hover ul {
    opacity: 1;
    visibility: visible;
  }
}

.header-section_top-navbar {
  padding: 15px 24px;
  background: #F7F8FC;
  box-shadow: 0px 4px 6px #FBFBFB;
  border-radius: 10px;
}

.walletLogoEl {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;

  img {
    margin-right: 9px;
  }

  * {
    display: inline-block;
    vertical-align: top;
  }
}

.MainNavbar ul {
  > li {
    margin-left: 16.5px;
    margin-right: 16.5px;
  }

  li {
    a {
      font-size: 13px;
    }

    &.activeNav a {
      color: #6D00F3;
    }
  }

  > li > ul a {
    padding-left: 0;
    padding-right: 0;
  }
}

.searchInput {
  display: block;
  max-width: 252px;
  width: 100%;
  position: relative;

  input {
    width: 100%;
    padding-right: 45px;
  }

  .iconEl {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    z-index: 10;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.MainNavbar__searchBtn {
  z-index: 1;
}

.searchInput.MainNavbar__search {
  max-width: 250px;
  height: 43px;
  display: none;

  input {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
    padding-left: 15px;
  }
}

.tableEl-wrapper .tableSearch .iconEl {
  position: relative;
  right: 0;
  left: 0;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.userBox-avatar {
  position: relative;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  margin-left: 19px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.userBox-name {
  position: relative;
  display: block;
  font-weight: 600;
  font-size: 13px;
  color: #6D00F3;
}

.userBox-exit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -7.5px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 15px;
  height: 15px;
  background: #6D00F3;
  border-radius: 7.5px;
}

.userBox-name:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 3px;
  margin-right: 7px;
  background: url(../static/images/wallet/arrow-purple.svg) center no-repeat;
  transition: all .2s ease-in-out;
}

.asideToolbar-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 9999999;
  padding-top: 150px;
  left: -105px;
  max-width: 100px;
  height: 100%;
}

.asideToolbar {
  position: sticky;
  top: 30px;
  width: 100%;
  padding: 25px;
  background: #F7F8FC;
  border-radius: 10px;

  .container {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .asideToolbar__item {
    display: block;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.asideToolbar__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(101, 35, 183, 0.19);

  svg {
    width: 18px;
    height: 18px;

    path {
      stroke: #6D00F3;
    }
  }
}

.asideToolbar__item-text {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 10px;
  color: #474C5F;
}

.asideToolbar__item-active .asideToolbar__item-icon, .asideToolbar__item:hover .asideToolbar__item-icon {
  background: #6D00F3;
}

.asideToolbar__item-active .asideToolbar__item-icon svg path, .asideToolbar__item:hover .asideToolbar__item-icon svg path {
  stroke: #fff;
}

.userFinanceBox.userFinanceBoxTransactions {
  padding: 33px 36px;
  border: 0.5px solid #B2B2B2;
  background: #fff;
}

.searchInput-grey input {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: #B2B2B2;
  background: #F7F8FC;
}

.finance-items {
  margin-top: 22px;
}

.finance-item-info {
  display: flex;
}

.finance-item-info-icon {
  flex-shrink: 0;
  margin-right: 11px;
}

.finance-item-info-content__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: #474C5F;
  margin-bottom: 7px;
}

.finance-item-info-content__val {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  color: #6D00F3;
}

.chartHeading {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  text-align: center;
  color: #474C5F;
}

.chartEl {
  height: 110px !important;
}

.userFinanceBox {
  margin-bottom: 26px;
  border-radius: 10px;
}

.btnEl {
  display: block;
  font: 400 12px/1em 'Inter', sans-serif;
  padding: 14px 30px;
  background: #6D00F3;
  border-radius: 20px !important;
  border: 0;
  color: #fff;
  cursor: pointer;
  text-align: center;

  &:hover {
    background: #6523B7;
    box-shadow: 0px 4px 4px rgba(101, 35, 183, 0.19);
    text-decoration: none;
  }

  &:focus {
    background: #6D00F3;
    box-shadow: 0px 4px 4px rgba(101, 35, 183, 0.19);
  }

  &:active {
    background: #FF0052;
  }

  &:disabled {
    color: #F7F8FC;
    background: #B2B2B2;
  }
}

.clear-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card-chain-blocks-fix {
  background: #F7F8FC !important;
  border-radius: 10px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.secBox {
  margin-bottom: 26px;
}

.secBox-heading, .tableEl-pre-heading__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #474C5F;
  flex-grow: 1;
}

.secBox-heading span {
  color: #B2B2B2;
}

.secBox-pdSm, .tableEl-wrapper.tableEl-wrapper-pdSm {
  padding: 29px 24px;
}

.secBox-list {
  margin-top: 20px;
  word-break: break-all;
}

.secBox-list__item {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #474C5F;
  padding: 14px 0;
  border-bottom: 1px solid #D8E7FF;

  > div {
    display: inline;
  }
}

.secBox-list__item-label {
  max-width: 256px;
  width: 100%;
  flex-shrink: 0;
  text-transform: uppercase;
}

.fix-card-title {
  margin-bottom: 3rem;
}


// TABLE

.secBox, .tableEl-wrapper {
  width: 100% !important;
  padding: 36px 39px !important;
  background: #F7F8FC !important;
  border-radius: 10px !important;
}

.secBox-pdSm, .tableEl-wrapper.tableEl-wrapper-pdSm {
  padding: 29px 24px !important;
}

.tab-menu.tableEl-pre-heading {
  li:not(:last-child) {
    margin-right: 30px !important;
  }

  .tableEl-pre-heading__title a {
    &:hover {
      text-decoration: underline !important;
    }

    &:not(.active) {
      color: #6D00F3 !important;
    }
  }
}

.secBox, .tableEl-pre-heading {
  margin-bottom: 39px !important;
}

.secBox-heading, .tableEl-pre-heading__title {
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 100% !important;
  color: #474C5F !important;
  flex-grow: 1 !important;
}

.tab-menu.tableEl-pre-heading li {
  flex-grow: initial !important;
}

.tableEl-wrapper .tableSearch {
  max-width: 20px !important;
  height: 22px !important;
  width: 100% !important;

  input {
    top: -11px !important;
    right: -15px !important;
  }

  .iconEl {
    position: relative !important;
    right: 0 !important;
    left: 0 !important;
  }
}

.tableEl-center {
  text-align: center !important;
}

.tableEl {
  width: 100% !important;
  display: table !important;
  border-collapse: separate !important;
  font-size: 12px !important;
  word-break: break-all !important;
}

.tableEl-header {
  font-size: 9px !important;
}

.tableEl-header-shown-responsive {
  .tableEl-header {
    display: table-row !important;
  }

  display: table !important;
}

.tableEl-header, .tableEl-row {
  display: table-row !important;
}

.tableEl-row-cell, .tableEl-header-col {
  display: table-cell !important;
}

.tableEl-header .tableEl-header-col {
  border-bottom: 1px solid #D8E7FF !important;
  padding-bottom: 20px !important;
  text-transform: uppercase !important;
}

.tableEl-row {
  position: relative !important;
  color: #474C5F !important;

  .tableEl-row-cell {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border-bottom: 1px solid #D8E7FF !important;

    &:first-child {
      font-size: 13px !important;
    }
  }
}

.tableEl-footer-filters {
  color: #474C5F !important;
  padding: 30px 0 0 !important;
}

.tableEl-footer-filters_paging > span {
  margin-right: 11px !important;
}

.tableEl-footer-filters_paging-pages li:not(:last-child) {
  margin-right: 19px !important;
}

.acitvePage a, .tableEl-footer-filters_paging-pages li a:hover {
  color: #6D00F3 !important;
}

.tableEl-filter-items a {
  font-weight: 500 !important;
  font-size: 10px !important;
  text-decoration-line: underline !important;
  color: #6D00F3 !important;
  margin-top: 15px !important;
  margin-left: 11px !important;
  margin-right: 11px !important;
  text-align: center !important;

  &:hover {
    text-decoration: none !important;
  }
}
.tableEl-row-wrapper{
  display: contents;
}

.truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 150px;
}

.purpleCol {
  color: #6D00F3 !important;
}

.mw-90p {
  width: 90px;
}
.mw-106p {
  max-width: 106px;
}